.vscode/**
.github/**
src/**
out/**
.vscode-test/**
node_modules/**
.git/**
.gitignore
*.ts
**/*.map
tsconfig.json
esbuild.js
.vscode-test.mjs
eslint.config.mjs
vsc-extension-quickstart.md
CONTRIBUTING.md
SECURITY.md